@import url("./question__input_error/question__input_error.css");

.question__input {
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  outline: none;
  border: none;
  padding: 0 15px 0;
}

.question__input:focus {
  border: 2px solid #854fc8;
}

.question__input::placeholder {
  font-size: 15px;
  line-height: 20px;
  color: #d0c9d6;
}

.question__input:invalid {
  border: 2px solid #f00;
}
